/* currently needs to support IE8 */
/* Once IE8 support get dropped, much of this code can be deleted */

/* START TEAMS COLOURS AND LOGOS
====================================================================== */
/*icon team logo*/
.i-tl{
    display: inline-block;
    background-size: 100% auto !important;
    text-indent: -999em;
    }

/* sizes */
.i-xsm { min-height: 25px; width: 25px; max-width: 25px; }
.i-sm  { min-height: 59px; width: 59px; max-width: 59px; }
.i-m   { min-height: 90px; width: 90px; max-width: 90px; }
.i-lg  { min-height: 170px; width: 170px; max-width: 170px; }
.i-xlg { min-height: 200px; width: 200px; max-width: 200px; }

.inline-team-icon{
    /*background-color: lime;*/
    position: relative;
    }
.inline-team-icon:before{
    /*background-color: #eee !important;*/
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    }

.inline-size-xsm:before{
    width: 25px;
    }

.inline-team-icon.inline-size-xsm{
    padding-left: 30px;
    }



/* START NBA
====================================================================== */

.i-nba-atl{
    background: url("/teams/img/team_logos/png/basketball/nba/atlanta-hawks.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/atlanta-hawks.svg");
    }

.inline-size-xsm.i-nba-atl--xsm:before {
    background: url("/teams/img/team_logos/25x25/basketball/nba/atlanta-hawks.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/atlanta-hawks.svg");
    }
.inline-size-sm.i-nba-atl--sm:before {
    background: url("/teams/img/team_logos/90x90/basketball/nba/atlanta-hawks.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/atlanta-hawks.svg");
    }
.inline-size-m.i-nba-atl--m:before {
    background: url("/teams/img/team_logos/90x90/basketball/nba/atlanta-hawks.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/atlanta-hawks.svg");
    }
.inline-size-lg.i-nba-atl--lg:before {
    background: url("/teams/img/team_logos/200x200/basketball/nba/atlanta-hawks.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/atlanta-hawks.svg");
    }
.inline-size-xlg.i-nba-atl--xlg:before {
    background: url("/teams/img/team_logos/200x200/basketball/nba/atlanta-hawks.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/atlanta-hawks.svg");
    }
/* Atlanta Hawks */
/*.i-nba-atl { background-image: url("/teams/img/team_logos/25x25/basketball/nba/atlanta-hawks.png") }
.i-nba-atl { background-image: url("/teams/img/team_logos/59x59/basketball/nba/atlanta-hawks.png") }
.i-nba-atl { background-image: url("/teams/img/team_logos/90x90/basketball/nba/atlanta-hawks.png") }*/
/*.i-nba-atl { background-image: url("/teams/img/team_logos/170x170/basketball/nba/atlanta-hawks.png") }*/
/*.i-nba-atl { background-image: url("/teams/img/team_logos/200x200/basketball/nba/atlanta-hawks.png") }*/

.nba-atl .bgcolor{ background-color: #C0C0C0; }

/* Boston Celtics */
.i-nba-bos{
    background: url("/teams/img/team_logos/png/basketball/nba/boston-celtics.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/boston-celtics.svg");
    }


/* FALLBACKS IN CASE IE8 NEEDS SUPPORT -- BLOATS THE CODE HUGE */
.inline-size-xsm.i-nba-bos--xsm:before {
    background: url("/teams/img/team_logos/25x25/basketball/nba/boston-celtics.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/boston-celtics.svg");
    }
.inline-size-sm.i-nba-bos--sm:before {
    background: url("/teams/img/team_logos/90x90/basketball/nba/boston-celtics.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/boston-celtics.svg");
    }
.inline-size-m.i-nba-bos--m:before {
    background: url("/teams/img/team_logos/90x90/basketball/nba/boston-celtics.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/boston-celtics.svg");
    }
.inline-size-lg.i-nba-bos--lg:before {
    background: url("/teams/img/team_logos/200x200/basketball/nba/boston-celtics.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/boston-celtics.svg");
    }
.inline-size-xlg.i-nba-bos--xlg:before {
    background: url("/teams/img/team_logos/200x200/basketball/nba/boston-celtics.png") no-repeat 0 center;
    background-image: linear-gradient(transparent, transparent), url("/teams/img/team_logos/svg/basketball/nba/boston-celtics.svg");
    }
/*.i-nba-bos { background-image: url("/teams/img/team_logos/25x25/basketball/nba/boston-celtics.png") }
.i-nba-bos { background-image: url("/teams/img/team_logos/59x59/basketball/nba/boston-celtics.png") }
.i-nba-bos { background-image: url("/teams/img/team_logos/90x90/basketball/nba/boston-celtics.png") }
.i-nba-bos { background-image: url("/teams/img/team_logos/170x170/basketball/nba/boston-celtics.png") }
.i-nba-bos { background-image: url("/teams/img/team_logos/200x200/basketball/nba/boston-celtics.png") }*/

.nba-bos .bgcolor{ background-color: #009E60; }

/* Brooklyn Nets */
.i-nba-bkn { background-image: url("/teams/img/team_logos/25x25/basketball/nba/brooklyn-nets.png") }
.i-nba-bkn { background-image: url("/teams/img/team_logos/59x59/basketball/nba/brooklyn-nets.png") }
.i-nba-bkn { background-image: url("/teams/img/team_logos/90x90/basketball/nba/brooklyn-nets.png") }
.i-nba-bkn { background-image: url("/teams/img/team_logos/170x170/basketball/nba/brooklyn-nets.png") }
.i-nba-bkn { background-image: url("/teams/img/team_logos/200x200/basketball/nba/brooklyn-nets.png") }

.nba-bkn .bgcolor{ background-color: #000; }

/* Charlotte Hornets */
.i-nba-cha { background-image: url("/teams/img/team_logos/25x25/basketball/nba/charlotte-hornets.png") }
.i-nba-cha { background-image: url("/teams/img/team_logos/59x59/basketball/nba/charlotte-hornets.png") }
.i-nba-cha { background-image: url("/teams/img/team_logos/90x90/basketball/nba/charlotte-hornets.png") }
.i-nba-cha { background-image: url("/teams/img/team_logos/170x170/basketball/nba/charlotte-hornets.png") }
.i-nba-cha { background-image: url("/teams/img/team_logos/200x200/basketball/nba/charlotte-hornets.png") }

.nba-cha .bgcolor{ background-color: #1D8CAA; }

/* Charlotte Bobcats */
.i-nba-chab { background-image: url("/teams/img/team_logos/25x25/basketball/nba/charlotte-bobcats.png") }
.i-nba-chab { background-image: url("/teams/img/team_logos/59x59/basketball/nba/charlotte-bobcats.png") }
.i-nba-chab { background-image: url("/teams/img/team_logos/90x90/basketball/nba/charlotte-bobcats.png") }
.i-nba-chab { background-image: url("/teams/img/team_logos/170x170/basketball/nba/charlotte-bobcats.png") }
.i-nba-chab { background-image: url("/teams/img/team_logos/200x200/basketball/nba/charlotte-bobcats.png") }

.nba-cha .bgcolor{ background-color: #002B5C; }

/* Chicago Bulls */
.i-nba-chi { background-image: url("/teams/img/team_logos/25x25/basketball/nba/chicago-bulls.png") }
.i-nba-chi { background-image: url("/teams/img/team_logos/59x59/basketball/nba/chicago-bulls.png") }
.i-nba-chi { background-image: url("/teams/img/team_logos/90x90/basketball/nba/chicago-bulls.png") }
.i-nba-chi { background-image: url("/teams/img/team_logos/170x170/basketball/nba/chicago-bulls.png") }
.i-nba-chi { background-image: url("/teams/img/team_logos/200x200/basketball/nba/chicago-bulls.png") }

.nba-chi .bgcolor{ background-color: #D4001F; }

/* Cleveland Cavaliers */
.i-nba-cle { background-image: url("/teams/img/team_logos/25x25/basketball/nba/cleveland-cavaliers.png") }
.i-nba-cle { background-image: url("/teams/img/team_logos/59x59/basketball/nba/cleveland-cavaliers.png") }
.i-nba-cle { background-image: url("/teams/img/team_logos/90x90/basketball/nba/cleveland-cavaliers.png") }
.i-nba-cle { background-image: url("/teams/img/team_logos/170x170/basketball/nba/cleveland-cavaliers.png") }
.i-nba-cle { background-image: url("/teams/img/team_logos/200x200/basketball/nba/cleveland-cavaliers.png") }

.nba-cle .bgcolor{ background-color: #b3121d; }

/* Dallas Mavericks */
.i-nba-dal { background-image: url("/teams/img/team_logos/25x25/basketball/nba/dallas-mavericks.png") }
.i-nba-dal { background-image: url("/teams/img/team_logos/59x59/basketball/nba/dallas-mavericks.png") }
.i-nba-dal { background-image: url("/teams/img/team_logos/90x90/basketball/nba/dallas-mavericks.png") }
.i-nba-dal { background-image: url("/teams/img/team_logos/170x170/basketball/nba/dallas-mavericks.png") }
.i-nba-dal { background-image: url("/teams/img/team_logos/200x200/basketball/nba/dallas-mavericks.png") }

.nba-dal .bgcolor{ background-color: #0b60ad; }

/* Denver Nuggets */
.i-nba-den { background-image: url("/teams/img/team_logos/25x25/basketball/nba/denver-nuggets.png") }
.i-nba-den { background-image: url("/teams/img/team_logos/59x59/basketball/nba/denver-nuggets.png") }
.i-nba-den { background-image: url("/teams/img/team_logos/90x90/basketball/nba/denver-nuggets.png") }
.i-nba-den { background-image: url("/teams/img/team_logos/170x170/basketball/nba/denver-nuggets.png") }
.i-nba-den { background-image: url("/teams/img/team_logos/200x200/basketball/nba/denver-nuggets.png") }

.nba-den .bgcolor{ background-color: #4b90cd; }

/* Detroit Pistons */
.i-nba-det { background-image: url("/teams/img/team_logos/25x25/basketball/nba/detroit-pistons.png") }
.i-nba-det { background-image: url("/teams/img/team_logos/59x59/basketball/nba/detroit-pistons.png") }
.i-nba-det { background-image: url("/teams/img/team_logos/90x90/basketball/nba/detroit-pistons.png") }
.i-nba-det { background-image: url("/teams/img/team_logos/170x170/basketball/nba/detroit-pistons.png") }
.i-nba-det { background-image: url("/teams/img/team_logos/200x200/basketball/nba/detroit-pistons.png") }

.nba-det .bgcolor{ background-color: #041e40; }

/* Golden State Warriors */
.i-nba-gs { background-image: url("/teams/img/team_logos/25x25/basketball/nba/golden-state-warriors.png") }
.i-nba-gs { background-image: url("/teams/img/team_logos/59x59/basketball/nba/golden-state-warriors.png") }
.i-nba-gs { background-image: url("/teams/img/team_logos/90x90/basketball/nba/golden-state-warriors.png") }
.i-nba-gs { background-image: url("/teams/img/team_logos/170x170/basketball/nba/golden-state-warriors.png") }
.i-nba-gs { background-image: url("/teams/img/team_logos/200x200/basketball/nba/golden-state-warriors.png") }

.nba-gs .bgcolor{ background-color: #FFCC33; }

/* Houston Rockets */
.i-nba-hou { background-image: url("/teams/img/team_logos/25x25/basketball/nba/houston-rockets.png") }
.i-nba-hou { background-image: url("/teams/img/team_logos/59x59/basketball/nba/houston-rockets.png") }
.i-nba-hou { background-image: url("/teams/img/team_logos/90x90/basketball/nba/houston-rockets.png") }
.i-nba-hou { background-image: url("/teams/img/team_logos/170x170/basketball/nba/houston-rockets.png") }
.i-nba-hou { background-image: url("/teams/img/team_logos/200x200/basketball/nba/houston-rockets.png") }

.nba-hou .bgcolor{ background-color: #ccc; }

/* Indiana Pacers */
.i-nba-ind { background-image: url("/teams/img/team_logos/25x25/basketball/nba/indiana-pacers.png") }
.i-nba-ind { background-image: url("/teams/img/team_logos/59x59/basketball/nba/indiana-pacers.png") }
.i-nba-ind { background-image: url("/teams/img/team_logos/90x90/basketball/nba/indiana-pacers.png") }
.i-nba-ind { background-image: url("/teams/img/team_logos/170x170/basketball/nba/indiana-pacers.png") }
.i-nba-ind { background-image: url("/teams/img/team_logos/200x200/basketball/nba/indiana-pacers.png") }

.nba-ind .bgcolor{ background-color: #ffc322; }

/* LA Clippers */
.i-nba-lac { background-image: url("/teams/img/team_logos/25x25/basketball/nba/los-angeles-clippers.png") }
.i-nba-lac { background-image: url("/teams/img/team_logos/59x59/basketball/nba/los-angeles-clippers.png") }
.i-nba-lac { background-image: url("/teams/img/team_logos/90x90/basketball/nba/los-angeles-clippers.png") }
.i-nba-lac { background-image: url("/teams/img/team_logos/170x170/basketball/nba/los-angeles-clippers.png") }
.i-nba-lac { background-image: url("/teams/img/team_logos/200x200/basketball/nba/los-angeles-clippers.png") }

.nba-lac .bgcolor{ background-color: #EE2944; }

/* LA Lakers */
.i-nba-lal { background-image: url("/teams/img/team_logos/25x25/basketball/nba/los-angeles-lakers.png") }
.i-nba-lal { background-image: url("/teams/img/team_logos/59x59/basketball/nba/los-angeles-lakers.png") }
.i-nba-lal { background-image: url("/teams/img/team_logos/90x90/basketball/nba/los-angeles-lakers.png") }
.i-nba-lal { background-image: url("/teams/img/team_logos/170x170/basketball/nba/los-angeles-lakers.png") }
.i-nba-lal { background-image: url("/teams/img/team_logos/200x200/basketball/nba/los-angeles-lakers.png") }

.nba-lal .bgcolor{ background-color: #F5AF1B; }

/* Memphis Grizzlies */
.i-nba-mem { background-image: url("/teams/img/team_logos/25x25/basketball/nba/memphis-grizzlies.png") }
.i-nba-mem { background-image: url("/teams/img/team_logos/59x59/basketball/nba/memphis-grizzlies.png") }
.i-nba-mem { background-image: url("/teams/img/team_logos/90x90/basketball/nba/memphis-grizzlies.png") }
.i-nba-mem { background-image: url("/teams/img/team_logos/170x170/basketball/nba/memphis-grizzlies.png") }
.i-nba-mem { background-image: url("/teams/img/team_logos/200x200/basketball/nba/memphis-grizzlies.png") }

.nba-mem .bgcolor{ background-color: #BED4E9; }

/* Miami Heat */
.i-nba-mia { background-image: url("/teams/img/team_logos/25x25/basketball/nba/miami-heat.png") }
.i-nba-mia { background-image: url("/teams/img/team_logos/59x59/basketball/nba/miami-heat.png") }
.i-nba-mia { background-image: url("/teams/img/team_logos/90x90/basketball/nba/miami-heat.png") }
.i-nba-mia { background-image: url("/teams/img/team_logos/170x170/basketball/nba/miami-heat.png") }
.i-nba-mia { background-image: url("/teams/img/team_logos/200x200/basketball/nba/miami-heat.png") }

.nba-mia .bgcolor{ background-color: #B62630; }

/* Milwaukee Bucks */
.i-nba-mil { background-image: url("/teams/img/team_logos/25x25/basketball/nba/milwaukee-bucks.png") }
.i-nba-mil { background-image: url("/teams/img/team_logos/59x59/basketball/nba/milwaukee-bucks.png") }
.i-nba-mil { background-image: url("/teams/img/team_logos/90x90/basketball/nba/milwaukee-bucks.png") }
.i-nba-mil { background-image: url("/teams/img/team_logos/170x170/basketball/nba/milwaukee-bucks.png") }
.i-nba-mil { background-image: url("/teams/img/team_logos/200x200/basketball/nba/milwaukee-bucks.png") }

.nba-mil .bgcolor{ background-color: #003614; }

/* Minnesota Timberwolves */
.i-nba-min { background-image: url("/teams/img/team_logos/25x25/basketball/nba/minnesota-timberwolves.png") }
.i-nba-min { background-image: url("/teams/img/team_logos/59x59/basketball/nba/minnesota-timberwolves.png") }
.i-nba-min { background-image: url("/teams/img/team_logos/90x90/basketball/nba/minnesota-timberwolves.png") }
.i-nba-min { background-image: url("/teams/img/team_logos/170x170/basketball/nba/minnesota-timberwolves.png") }
.i-nba-min { background-image: url("/teams/img/team_logos/200x200/basketball/nba/minnesota-timberwolves.png") }

.nba-min .bgcolor{ background-color: #0F4D92; }

/* New Orleans Pelicans */
.i-nba-no { background-image: url("/teams/img/team_logos/25x25/basketball/nba/new-orleans-pelicans.png") }
.i-nba-no { background-image: url("/teams/img/team_logos/59x59/basketball/nba/new-orleans-pelicans.png") }
.i-nba-no { background-image: url("/teams/img/team_logos/90x90/basketball/nba/new-orleans-pelicans.png") }
.i-nba-no { background-image: url("/teams/img/team_logos/170x170/basketball/nba/new-orleans-pelicans.png") }
.i-nba-no { background-image: url("/teams/img/team_logos/200x200/basketball/nba/new-orleans-pelicans.png") }

.nba-no .bgcolor{ background-color: #002b5c; }

/* New York Knicks */
.i-nba-ny { background-image: url("/teams/img/team_logos/25x25/basketball/nba/new-york-knicks.png") }
.i-nba-ny { background-image: url("/teams/img/team_logos/59x59/basketball/nba/new-york-knicks.png") }
.i-nba-ny { background-image: url("/teams/img/team_logos/90x90/basketball/nba/new-york-knicks.png") }
.i-nba-ny { background-image: url("/teams/img/team_logos/170x170/basketball/nba/new-york-knicks.png") }
.i-nba-ny { background-image: url("/teams/img/team_logos/200x200/basketball/nba/new-york-knicks.png") }

.nba-ny .bgcolor{ background-color: #FF7518; }

/* Oklahoma City Thunder */
.i-nba-okc { background-image: url("/teams/img/team_logos/25x25/basketball/nba/oklahoma-city-thunder.png") }
.i-nba-okc { background-image: url("/teams/img/team_logos/59x59/basketball/nba/oklahoma-city-thunder.png") }
.i-nba-okc { background-image: url("/teams/img/team_logos/90x90/basketball/nba/oklahoma-city-thunder.png") }
.i-nba-okc { background-image: url("/teams/img/team_logos/170x170/basketball/nba/oklahoma-city-thunder.png") }
.i-nba-okc { background-image: url("/teams/img/team_logos/200x200/basketball/nba/oklahoma-city-thunder.png") }

.nba-okc .bgcolor{ background-color: #007DC3; }

/* Orlando Magic */
.i-nba-orl { background-image: url("/teams/img/team_logos/25x25/basketball/nba/orlando-magic.png") }
.i-nba-orl { background-image: url("/teams/img/team_logos/59x59/basketball/nba/orlando-magic.png") }
.i-nba-orl { background-image: url("/teams/img/team_logos/90x90/basketball/nba/orlando-magic.png") }
.i-nba-orl { background-image: url("/teams/img/team_logos/170x170/basketball/nba/orlando-magic.png") }
.i-nba-orl { background-image: url("/teams/img/team_logos/200x200/basketball/nba/orlando-magic.png") }

.nba-orl .bgcolor{ background-color: #0047AB; }

/* Philadelphia 76ers */
.i-nba-phi { background-image: url("/teams/img/team_logos/25x25/basketball/nba/philadelphia-76ers.png") }
.i-nba-phi { background-image: url("/teams/img/team_logos/59x59/basketball/nba/philadelphia-76ers.png") }
.i-nba-phi { background-image: url("/teams/img/team_logos/90x90/basketball/nba/philadelphia-76ers.png") }
.i-nba-phi { background-image: url("/teams/img/team_logos/170x170/basketball/nba/philadelphia-76ers.png") }
.i-nba-phi { background-image: url("/teams/img/team_logos/200x200/basketball/nba/philadelphia-76ers.png") }

.nba-phi .bgcolor{ background-color: #0046AD; }

/* Phoenix Suns */
.i-nba-pho { background-image: url("/teams/img/team_logos/25x25/basketball/nba/phoenix-suns.png") }
.i-nba-pho { background-image: url("/teams/img/team_logos/59x59/basketball/nba/phoenix-suns.png") }
.i-nba-pho { background-image: url("/teams/img/team_logos/90x90/basketball/nba/phoenix-suns.png") }
.i-nba-pho { background-image: url("/teams/img/team_logos/170x170/basketball/nba/phoenix-suns.png") }
.i-nba-pho { background-image: url("/teams/img/team_logos/200x200/basketball/nba/phoenix-suns.png") }

.nba-pho .bgcolor{ background-color: #1c105e; }

/* Portland Trail Blazers */
.i-nba-por { background-image: url("/teams/img/team_logos/25x25/basketball/nba/portland-trail-blazers.png") }
.i-nba-por { background-image: url("/teams/img/team_logos/59x59/basketball/nba/portland-trail-blazers.png") }
.i-nba-por { background-image: url("/teams/img/team_logos/90x90/basketball/nba/portland-trail-blazers.png") }
.i-nba-por { background-image: url("/teams/img/team_logos/170x170/basketball/nba/portland-trail-blazers.png") }
.i-nba-por { background-image: url("/teams/img/team_logos/200x200/basketball/nba/portland-trail-blazers.png") }

.nba-por .bgcolor{ background-color: #F0163A; }

/* Sacramento Kings */
.i-nba-sac { background-image: url("/teams/img/team_logos/25x25/basketball/nba/sacramento-kings.png") }
.i-nba-sac { background-image: url("/teams/img/team_logos/59x59/basketball/nba/sacramento-kings.png") }
.i-nba-sac { background-image: url("/teams/img/team_logos/90x90/basketball/nba/sacramento-kings.png") }
.i-nba-sac { background-image: url("/teams/img/team_logos/170x170/basketball/nba/sacramento-kings.png") }
.i-nba-sac { background-image: url("/teams/img/team_logos/200x200/basketball/nba/sacramento-kings.png") }

.nba-sac .bgcolor{ background-color: #753BBD; }

/* San Antonio Spurs */
.i-nba-sa { background-image: url("/teams/img/team_logos/25x25/basketball/nba/san-antonio-spurs.png") }
.i-nba-sa { background-image: url("/teams/img/team_logos/59x59/basketball/nba/san-antonio-spurs.png") }
.i-nba-sa { background-image: url("/teams/img/team_logos/90x90/basketball/nba/san-antonio-spurs.png") }
.i-nba-sa { background-image: url("/teams/img/team_logos/170x170/basketball/nba/san-antonio-spurs.png") }
.i-nba-sa { background-image: url("/teams/img/team_logos/200x200/basketball/nba/san-antonio-spurs.png") }

.nba-sa .bgcolor{ background-color: #000; }

/* Toronto Raptors */
.i-nba-tor { background-image: url("/teams/img/team_logos/25x25/basketball/nba/toronto-raptors.png") }
.i-nba-tor { background-image: url("/teams/img/team_logos/59x59/basketball/nba/toronto-raptors.png") }
.i-nba-tor { background-image: url("/teams/img/team_logos/90x90/basketball/nba/toronto-raptors.png") }
.i-nba-tor { background-image: url("/teams/img/team_logos/170x170/basketball/nba/toronto-raptors.png") }
.i-nba-tor { background-image: url("/teams/img/team_logos/200x200/basketball/nba/toronto-raptors.png") }

.nba-tor .bgcolor{ background-color: #B31B1B; }

/* Utah Jazz */
.i-nba-uta { background-image: url("/teams/img/team_logos/25x25/basketball/nba/utah-jazz.png") }
.i-nba-uta { background-image: url("/teams/img/team_logos/59x59/basketball/nba/utah-jazz.png") }
.i-nba-uta { background-image: url("/teams/img/team_logos/90x90/basketball/nba/utah-jazz.png") }
.i-nba-uta { background-image: url("/teams/img/team_logos/170x170/basketball/nba/utah-jazz.png") }
.i-nba-uta { background-image: url("/teams/img/team_logos/200x200/basketball/nba/utah-jazz.png") }

.nba-uta .bgcolor{ background-color: #00275D; }

/* Washington Wizards */
.i-nba-was { background-image: url("/teams/img/team_logos/25x25/basketball/nba/washington-wizards.png") }
.i-nba-was { background-image: url("/teams/img/team_logos/59x59/basketball/nba/washington-wizards.png") }
.i-nba-was { background-image: url("/teams/img/team_logos/90x90/basketball/nba/washington-wizards.png") }
.i-nba-was { background-image: url("/teams/img/team_logos/170x170/basketball/nba/washington-wizards.png") }
.i-nba-was { background-image: url("/teams/img/team_logos/200x200/basketball/nba/washington-wizards.png") }

.nba-was .bgcolor{ background-color: #BCC4CC; }


/* NBA Logo */
.i-nba-logo { background-image: url("/teams/img/team_logos/25x25/basketball/nba/nba.png") }
.i-nba-logo { background-image: url("/teams/img/team_logos/59x59/basketball/nba/nba.png") }
.i-nba-logo { background-image: url("/teams/img/team_logos/90x90/basketball/nba/nba.png") }
.i-nba-logo { background-image: url("/teams/img/team_logos/170x170/basketball/nba/nba.png") }
.i-nba-logo { background-image: url("/teams/img/team_logos/200x200/basketball/nba/nba.png") }

/*.nba-logo .bgcolor{ background-color: #wpg; }*/

/* Eastern Conference */
.i-nba-east { background-image: url("/teams/img/team_logos/25x25/basketball/nba/east-east-all-stars.png") }
.i-nba-east { background-image: url("/teams/img/team_logos/59x59/basketball/nba/east-east-all-stars.png") }
.i-nba-east { background-image: url("/teams/img/team_logos/90x90/basketball/nba/east-east-all-stars.png") }
.i-nba-east { background-image: url("/teams/img/team_logos/170x170/basketball/nba/east-east-all-stars.png") }
.i-nba-east { background-image: url("/teams/img/team_logos/200x200/basketball/nba/east-east-all-stars.png") }

/*.nba-east .bgcolor{ background-color: #east; }*/

/* Western Conference */
.i-nba-west { background-image: url("/teams/img/team_logos/25x25/basketball/nba/west-west-all-stars.png") }
.i-nba-west { background-image: url("/teams/img/team_logos/59x59/basketball/nba/west-west-all-stars.png") }
.i-nba-west { background-image: url("/teams/img/team_logos/90x90/basketball/nba/west-west-all-stars.png") }
.i-nba-west { background-image: url("/teams/img/team_logos/170x170/basketball/nba/west-west-all-stars.png") }
.i-nba-west { background-image: url("/teams/img/team_logos/200x200/basketball/nba/west-west-all-stars.png") }

/*.nba-west .bgcolor{ background-color: #west; }*/




